// FONTS
$font-barlow: 'Barlow Semi Condensed', sans-serif;
$font-opensans: 'Open Sans', sans-serif;

$font-xl: 52px;
$font-l: 42px;
$font-m: 24px;
$font-s: 20px;
$font-xs: 15px;
$font-xxs: 13px;

// COLORS
$znx-white: #F3ECC8;
$znx-pink: #F73859;
$znx-darkblue: #283149;
$znx-blue: #404B69;

// PADDINGS
$padding-wrapper: 40px;

// MARGINS
$margin-responsive: 140px;